<a href="https://colab.research.google.com/github/nv-hiep/pyspark/blob/main/PySpark_Project_Bundesliga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.1.1-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [ ]:
# For python users, you should also install pyspark using the following command.
# !pip install pyspark

Run a local spark session to test your installation:

In [ ]:
import findspark
findspark.init()

from pyspark import SparkContext
from pyspark.sql import SparkSession, Window, Row

from pyspark.sql.functions import *
from pyspark.sql.types import *
import matplotlib.pyplot as plt

#https://spark.apache.org/docs/latest/sql-getting-started.html
# spark = SparkSession.builder.master("local[*]").getOrCreate()
spark = SparkSession.builder.appName('PySpark').getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
import urllib.request

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

In [ ]:
! rm -rf spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2

# Connect to Kaggle

Ref: https://galhever.medium.com/how-to-import-data-from-kaggle-to-google-colab-8160caa11e2

Install the Kaggle package that will be used for importing the data.

In [ ]:
# !pip install kaggle

Next, we need to upload the credentials of our Kaggle account. To do so, you need to enter your profile and “Create New API Token”. If you already have one you can click on “Expire API Token” and create a new one.

Then, save the json file with your credentials on your computer and upload this file to Colab using the code below:

In [ ]:
# from google.colab import files
# files.upload()

The Kaggle API client expects the json file to be in ~/.kaggle folder so let’s create a new folder and move it inside.

In [ ]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

Next, we will click on the three vertical points on the right side of the screen and “Copy the API Command” of the dataset that we want to import from Kaggle.

In [ ]:
# !kaggle datasets download -d jessicali9530/celeba-dataset
# !kaggle datasets download -d hesh97/titanicdataset-traincsv

In [ ]:
# !pwd

Let’s see the imported files:

In [ ]:
# !ls

Now, the last step is to open the extracted files and get the data:

In [ ]:
# import zipfile
# zip_ref = zipfile.ZipFile('titanicdataset-traincsv.zip', 'r')
# zip_ref.extractall('files')
# zip_ref.close()

In [ ]:
# !ls

In [ ]:
# ! rm -rf titanicdataset-traincsv.zip

In [ ]:
# !ls

In [ ]:
# % cd files

In [ ]:
# !ls

That’s it! Now your data is ready and you can start working on it.

# Load data

In [ ]:
# def _round(x):
#   return int(x)

In [ ]:
# round_float_down_udf = udf(_round, IntegerType())

In [ ]:
# titanic_df.select( titanic_df.PassengerId.alias('ID'), titanic_df.Fare, round_float_down_udf( titanic_df.Fare ).alias('RoundedFare')  ).show()

In [ ]:
# Nice one here
# titanic_df.createOrReplaceTempView("Titanic")

In [ ]:
# spark.sql('Select * from Titanic').limit(5)

In [ ]:
# spark.sql('SELECT COUNT(PassengerId), Pclass FROM Titanic GROUP BY Pclass;').limit(5)

In [ ]:
# spark.sql('SELECT COUNT(PassengerId), Pclass FROM Titanic GROUP BY Pclass ORDER BY COUNT(PassengerID) ASC;').limit(5)

In [ ]:
# spark.sql('SELECT COUNT(PassengerId), Pclass FROM Titanic GROUP BY Pclass ORDER BY COUNT(PassengerID) DESC;').limit(5)

In [ ]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2

In [ ]:
DATA_PATH = '/content/sample_data/'
DATA_DIR  = os.path.join(DATA_PATH, 'data')

In [ ]:
# url = 'https://download.pytorch.org/tutorial/hymenoptera_data.zip'
# if not os.path.exists(DATA_FILE):
#   urllib.request.urlretrieve(url, DATA_FILE)

# Read zipfile
# zfile = zipfile.ZipFile(DATA_FILE)
# zfile.extractall(DATA_PATH)
# zfile.close()

# os.remove(DATA_FILE)

In [ ]:
if not os.path.exists(DATA_DIR):
  os.mkdir(DATA_DIR)

In [ ]:
url = 'https://raw.githubusercontent.com/henokyemam/Wrangling_PySpark/main/Data/Matches.csv'
match_file = os.path.join( DATA_DIR, os.path.split(url)[-1])

if not os.path.exists(match_file):
  filename, headers = urllib.request.urlretrieve(url, match_file)

# print ("download complete!")
# print ("download file location: ", filename)
# print ("download headers: ", headers)

url = 'https://raw.githubusercontent.com/henokyemam/Wrangling_PySpark/main/Data/Teams.csv'
team_file = os.path.join( DATA_DIR, os.path.split(url)[-1])
if not os.path.exists(team_file):
  filename, headers = urllib.request.urlretrieve(url, team_file)


url = 'https://raw.githubusercontent.com/henokyemam/Wrangling_PySpark/main/Data/Teams_in_Matches.csv'
team_match_file = os.path.join( DATA_DIR, os.path.split(url)[-1])
if not os.path.exists(team_match_file):
  filename, headers = urllib.request.urlretrieve(url, team_match_file)



url = 'https://raw.githubusercontent.com/henokyemam/Wrangling_PySpark/main/Data/Unique_Teams.csv'
unique_team_file = os.path.join( DATA_DIR, os.path.split(url)[-1])
if not os.path.exists(unique_team_file):
  filename, headers = urllib.request.urlretrieve(url, unique_team_file)

In [ ]:
def load_dataframe(xfile):
  df = spark.read.format('csv').options(header='true').load(xfile)
  return df

# Unique teams

In [ ]:
df_unique_teams = load_dataframe(unique_team_file)
print('Number of unique teams: ', df_unique_teams.count())
df_unique_teams.show()

Number of unique teams:  128
+-------------+--------------+
|     TeamName|Unique_Team_ID|
+-------------+--------------+
|Bayern Munich|             1|
|     Dortmund|             2|
|   Leverkusen|             3|
|   RB Leipzig|             4|
|   Schalke 04|             5|
|   M'gladbach|             6|
|    Wolfsburg|             7|
|      FC Koln|             8|
|   Hoffenheim|             9|
|       Hertha|            10|
|        Mainz|            11|
|      Hamburg|            12|
|Werder Bremen|            13|
|Ein Frankfurt|            14|
|     Augsburg|            15|
|     Freiburg|            16|
|    Stuttgart|            17|
|     Hannover|            18|
|   Ingolstadt|            19|
|    Darmstadt|            20|
+-------------+--------------+
only showing top 20 rows

# Teams

In [ ]:
df_teams = load_dataframe(team_file)
df_teams.show()

+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
|Season|     TeamName|KaderHome|AvgAgeHome|ForeignPlayersHome|OverallMarketValueHome|AvgMarketValueHome|StadiumCapacity|
+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
|  2017|Bayern Munich|       27|        26|                15|             597950000|          22150000|          75000|
|  2017|     Dortmund|       33|        25|                18|             416730000|          12630000|          81359|
|  2017|   Leverkusen|       31|        24|                15|             222600000|           7180000|          30210|
|  2017|   RB Leipzig|       30|        23|                15|             180130000|           6000000|          42959|
|  2017|   Schalke 04|       29|        24|                17|             179550000|           6190000|          62271|
|  2017|   M'gladbach|       31|        25|                17|             154400000|           4980000|          54014|
|  2017|    Wolfsburg|       31|        24|                14|             124430000|           4010000|          30000|
|  2017|      FC Koln|       24|        26|                 9|             118550000|           4940000|          49968|
|  2017|   Hoffenheim|       31|        24|                14|             107330000|           3460000|          30164|
|  2017|       Hertha|       26|        26|                12|              86800000|           3340000|          74475|
|  2017|        Mainz|       31|        25|                16|              71950000|           2320000|          34000|
|  2017|      Hamburg|       31|        25|                15|              71550000|           2310000|          57376|
|  2017|Werder Bremen|       32|        26|                19|              69450000|           2170000|          42100|
|  2017|Ein Frankfurt|       34|        24|                18|              67100000|           1970000|          51500|
|  2017|     Augsburg|       36|        26|                20|              63100000|           1750000|          30660|
|  2017|     Freiburg|       26|        26|                 8|              57730000|           2220000|          24000|
|  2017|    Stuttgart|       24|        24|                16|              44750000|           1860000|          60449|
|  2017|     Hannover|       31|        25|                13|              43100000|           1390000|          49200|
|  2016|Bayern Munich|       33|        25|                18|             595400000|          18040000|          75000|
|  2016|     Dortmund|       32|        24|                17|             321550000|          10050000|          81359|
+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
only showing top 20 rows

# Teams in matches

In [ ]:
df_team_in_match = load_dataframe(team_match_file)
print('Number of matches: ', df_team_in_match.count())
df_team_in_match.show()

Number of matches:  49148
+--------+--------------+
|Match_ID|Unique_Team_ID|
+--------+--------------+
|       1|            26|
|       1|            46|
|       2|            26|
|       2|            42|
|       3|            26|
|       3|            44|
|       4|            29|
|       4|            44|
|       5|            29|
|       5|            49|
|       6|            29|
|       6|            35|
|       7|            21|
|       7|            29|
|       8|            29|
|       8|            30|
|       9|            26|
|       9|            29|
|      10|            29|
|      10|            33|
+--------+--------------+
only showing top 20 rows

# Matches

In [ ]:
#creating a dataframe
df_matches = load_dataframe(match_file)
df_matches.limit(5).show()

+--------+---+------+----------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|      Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+----------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+----------+-------------+--------------+----+----+---+

In [ ]:
current_cols = df_matches.columns[-3:]
new_cols     = ['HomeTeamGoals', 'AwayTeamGoals', 'FinalResult']

for old_col, new_col in zip(current_cols, new_cols):
  df_matches = df_matches.withColumnRenamed(old_col, new_col)

df_matches.columns

['Match_ID',
 'Div',
 'Season',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'HomeTeamGoals',
 'AwayTeamGoals',
 'FinalResult']

In [ ]:
df_matches.limit(5).toPandas()

  Match_ID Div Season  ... HomeTeamGoals AwayTeamGoals FinalResult
0        1  D2   2009  ...             2             1           H
1        2  D2   2009  ...             0             1           A
2        3  D2   2009  ...             1             1           D
3        4  D2   2009  ...             2             1           H
4        5  D2   2009  ...             1             3           A

[5 rows x 9 columns]

In [ ]:
# Count the null values in each column
df_matches.select( [ count( when(isnan(xcol), xcol) ).alias(xcol) for xcol in df_matches.columns ] ).show()

+--------+---+------+----+--------+--------+-------------+-------------+-----------+
|Match_ID|Div|Season|Date|HomeTeam|AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|
+--------+---+------+----+--------+--------+-------------+-------------+-----------+
|       0|  0|     0|   0|       0|       0|            0|            0|          0|
+--------+---+------+----+--------+--------+-------------+-------------+-----------+

In [ ]:
# finding the null count in each column
df_matches.select([count(when(isnan(column), column)).alias(column) for column in df_matches.columns]).toPandas()
# [df_matches.filter(col(column).isNull()).count() for column in df_matches.columns]

   Match_ID  Div  Season  ...  HomeTeamGoals  AwayTeamGoals  FinalResult
0         0    0       0  ...              0              0            0

[1 rows x 9 columns]

In [ ]:
# Comparing it to Pandas
df_matches.toPandas().isnull().sum()

Match_ID         0
Div              0
Season           0
Date             0
HomeTeam         0
AwayTeam         0
HomeTeamGoals    0
AwayTeamGoals    0
FinalResult      0
dtype: int64

# Q1. Who are the winners of the D1 division in the Germany Football Association (Bundesliga) between 2000–2010?

In [ ]:
df_matches.where( df_matches['Season'] == 2017 )

+--------+---+------+----------+-------------+-------------+-------------+-------------+-----------+
|Match_ID|Div|Season|      Date|     HomeTeam|     AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|
+--------+---+------+----------+-------------+-------------+-------------+-------------+-----------+
|    4764| D1|  2017|2018-01-15|   Leverkusen|Bayern Munich|           -1|           -1|          H|
|    4765| D1|  2017|2018-02-05|        Mainz|Bayern Munich|           -1|           -1|          H|
|    4766| D1|  2017|2018-04-23|     Hannover|Bayern Munich|           -1|           -1|          H|
|    4767| D1|  2017|2017-10-22|      Hamburg|Bayern Munich|           -1|           -1|          H|
|    4768| D1|  2017|2018-02-19|    Wolfsburg|Bayern Munich|           -1|           -1|          H|
|    4769| D1|  2017|2017-09-10|   Hoffenheim|Bayern Munich|           -1|           -1|          H|
|    4770| D1|  2017|2018-05-05|      FC Koln|Bayern Munich|           -1|           -1|          H|
|    4771| D1|  2017|2018-03-05|     Freiburg|Bayern Munich|           -1|           -1|          H|
|    4772| D1|  2017|2017-09-20|   Schalke 04|Bayern Munich|           -1|           -1|          H|
|    4773| D1|  2017|2017-12-10|Ein Frankfurt|Bayern Munich|           -1|           -1|          H|
|    4774| D1|  2017|2018-04-09|     Augsburg|Bayern Munich|           -1|           -1|          H|
|    4775| D1|  2017|2017-08-27|Werder Bremen|Bayern Munich|           -1|           -1|          H|
|    4776| D1|  2017|2018-03-18|   RB Leipzig|Bayern Munich|           -1|           -1|          H|
|    4777| D1|  2017|2017-11-27|   M'gladbach|Bayern Munich|           -1|           -1|          H|
|    4778| D1|  2017|2017-12-17|    Stuttgart|Bayern Munich|           -1|           -1|          H|
|    4779| D1|  2017|2017-10-01|       Hertha|Bayern Munich|           -1|           -1|          H|
|    4780| D1|  2017|2017-11-05|     Dortmund|Bayern Munich|           -1|           -1|          H|
|    4781| D1|  2017|2017-10-29|     Hannover|     Dortmund|           -1|           -1|          H|
|    4782| D1|  2017|2018-04-30|Werder Bremen|     Dortmund|           -1|           -1|          H|
|    4783| D1|  2017|2018-02-05|      FC Koln|     Dortmund|           -1|           -1|          H|
+--------+---+------+----------+-------------+-------------+-------------+-------------+-----------+
only showing top 20 rows

In [ ]:
# bundesliga is a D1 division and we are interested in season <= 2010 and >= 2000
bundesliga = df_matches.select('*').where( (col('Div') == 'D1') & (col('HomeTeamGoals') > -1) & (col('AwayTeamGoals') > -1) ).drop('Div', 'Match_ID', 'Date').orderBy('Season')
bundesliga.toPandas()

     Season       HomeTeam  ... AwayTeamGoals FinalResult
0      1993  Bayern Munich  ...             1           H
1      1993       Dortmund  ...             1           H
2      1993       Duisburg  ...             2           D
3      1993        FC Koln  ...             2           A
4      1993        Hamburg  ...             2           H
...     ...            ...  ...           ...         ...
7339   2016        FC Koln  ...             1           D
7340   2016     Ingolstadt  ...             0           H
7341   2016       Dortmund  ...             0           H
7342   2016        Hamburg  ...             4           A
7343   2016  Ein Frankfurt  ...             2           D

[7344 rows x 6 columns]

In [ ]:
bundesliga = bundesliga.withColumn( 'HomeWin', when(col('FinalResult') == 'H', 1).otherwise(0) ).\
                        withColumn( 'AwayWin', when(col('FinalResult') == 'A', 1).otherwise(0) ).\
                        withColumn( 'Draw', when(col('FinalResult') == 'D', 1).otherwise(0) ).\
                        withColumn( 'HomePoint', when(col('FinalResult') == 'H', 3).when(col('FinalResult') == 'D', 1).otherwise(0) ).\
                        withColumn( 'AwayPoint', when(col('FinalResult') == 'H', 0).when(col('FinalResult')== 'D', 1).otherwise(3) )
bundesliga.show()

+------+--------------+--------------+-------------+-------------+-----------+-------+-------+----+---------+---------+
|Season|      HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|HomeWin|AwayWin|Draw|HomePoint|AwayPoint|
+------+--------------+--------------+-------------+-------------+-----------+-------+-------+----+---------+---------+
|  1993| Bayern Munich|      Freiburg|            3|            1|          H|      1|      0|   0|        3|        0|
|  1993|      Duisburg|     Stuttgart|            2|            2|          D|      0|      0|   1|        1|        1|
|  1993|      Dortmund|     Karlsruhe|            2|            1|          H|      1|      0|   0|        3|        0|
|  1993|      Duisburg|    Leverkusen|            2|            2|          D|      0|      0|   1|        1|        1|
|  1993|       FC Koln|Kaiserslautern|            0|            2|          A|      0|      1|   0|        0|        3|
|  1993|       Hamburg|      Nurnberg|            5|            2|          H|      1|      0|   0|        3|        0|
|  1993|    RB Leipzig|       Dresden|            3|            3|          D|      0|      0|   1|        1|        1|
|  1993|    M'Gladbach| Ein Frankfurt|            0|            4|          A|      0|      1|   0|        0|        3|
|  1993|  Wattenscheid|    Schalke 04|            3|            0|          H|      1|      0|   0|        3|        0|
|  1993| Werder Bremen|     Stuttgart|            5|            1|          H|      1|      0|   0|        3|        0|
|  1993|       Dresden|      Duisburg|            0|            1|          A|      0|      1|   0|        0|        3|
|  1993| Ein Frankfurt| Werder Bremen|            2|            2|          D|      0|      0|   1|        1|        1|
|  1993|      Freiburg|  Wattenscheid|            4|            1|          H|      1|      0|   0|        3|        0|
|  1993|Kaiserslautern|    M'Gladbach|            4|            2|          H|      1|      0|   0|        3|        0|
|  1993|     Karlsruhe|       Hamburg|            2|            0|          H|      1|      0|   0|        3|        0|
|  1993|    Leverkusen| Bayern Munich|            2|            1|          H|      1|      0|   0|        3|        0|
|  1993|      Nurnberg|       FC Koln|            1|            0|          H|      1|      0|   0|        3|        0|
|  1993|    Schalke 04|      Dortmund|            1|            0|          H|      1|      0|   0|        3|        0|
|  1993|     Stuttgart|    RB Leipzig|            0|            0|          D|      0|      0|   1|        1|        1|
|  1993| Bayern Munich|       Dresden|            5|            0|          H|      1|      0|   0|        3|        0|
+------+--------------+--------------+-------------+-------------+-----------+-------+-------+----+---------+---------+
only showing top 20 rows

In [ ]:
# A dataframe for HomeTeam
home = bundesliga.groupBy( 'Season', 'HomeTeam' ).agg(
                                                      sum(col('HomeWin')).alias('TotalHomeWin'),
                                                      sum(col('AwayWin')).alias('TotalHomeLost'),
                                                      sum(col('Draw')).alias('TotalHomeDraw'),
                                                      sum(col('HomePoint')).alias('TotalHomePoint'),
                                                      sum(col('AwayPoint')).alias('TotalHomeLostPoint'),
                                                      sum(col('HomeTeamGoals')).alias('TotalHomeScoredGoals'),
                                                      sum(col('AwayTeamGoals')).alias('TotalHomeAgainstGoals')
                                                     ).withColumnRenamed('HomeTeam', 'Team').orderBy('Season')
home.show()

+------+--------------+------------+-------------+-------------+--------------+------------------+--------------------+---------------------+
|Season|          Team|TotalHomeWin|TotalHomeLost|TotalHomeDraw|TotalHomePoint|TotalHomeLostPoint|TotalHomeScoredGoals|TotalHomeAgainstGoals|
+------+--------------+------------+-------------+-------------+--------------+------------------+--------------------+---------------------+
|  1993|      Freiburg|           6|            7|            4|            22|                25|                29.0|                 27.0|
|  1993|  Wattenscheid|           6|            6|            5|            23|                23|                31.0|                 27.0|
|  1993| Ein Frankfurt|           8|            4|            5|            29|                17|                29.0|                 22.0|
|  1993|    Leverkusen|          10|            2|            5|            35|                11|                36.0|                 20.0|
|  1993|       Hamburg|           7|            5|            5|            26|                20|                31.0|                 24.0|
|  1993|    M'Gladbach|           9|            3|            5|            32|                14|                38.0|                 25.0|
|  1993| Werder Bremen|          10|            5|            2|            32|                17|                31.0|                 21.0|
|  1993|       Dresden|           7|            3|            7|            28|                16|                20.0|                 16.0|
|  1993|Kaiserslautern|          12|            1|            4|            40|                 7|                38.0|                 10.0|
|  1993|     Karlsruhe|          11|            1|            5|            38|                 8|                29.0|                 13.0|
|  1993|      Nurnberg|           7|            6|            4|            25|                22|                25.0|                 20.0|
|  1993|    Schalke 04|           7|            6|            4|            25|                22|                23.0|                 20.0|
|  1993|      Duisburg|           7|            4|            6|            27|                18|                21.0|                 23.0|
|  1993|       FC Koln|           9|            6|            2|            29|                20|                25.0|                 22.0|
|  1993|    RB Leipzig|           2|            6|            9|            15|                27|                20.0|                 28.0|
|  1993| Bayern Munich|          13|            1|            3|            42|                 6|                44.0|                 10.0|
|  1993|      Dortmund|          13|            2|            2|            41|                 8|                35.0|                 15.0|
|  1993|     Stuttgart|           8|            3|            6|            30|                15|                31.0|                 16.0|
|  1994| Ein Frankfurt|          10|            4|            3|            33|                15|                28.0|                 18.0|
|  1994|   Munich 1860|           7|            6|            4|            25|                22|                26.0|                 23.0|
+------+--------------+------------+-------------+-------------+--------------+------------------+--------------------+---------------------+
only showing top 20 rows

In [ ]:
# A dataframe for AwayTeam
away = bundesliga.groupBy('Season', 'AwayTeam').agg(
                                                    sum(col('HomeWin')).alias('TotalAwayLost'),
                                                    sum(col('AwayWin')).alias('TotalAwayWin'),
                                                    sum(col('Draw')).alias('TotalAwayDraw'),
                                                    sum(col('HomePoint')).alias('TotalAwayLostPoint'),
                                                    sum(col('AwayPoint')).alias('TotalAwayPoint'),
                                                    sum(col('HomeTeamGoals')).alias('TotalAwayAgainstGoals'),
                                                    sum(col('AwayTeamGoals')).alias('TotalAwayScoredGoals')
                                                   ).withColumnRenamed('AwayTeam', 'Team').orderBy('Season')
away.show()

+------+--------------+-------------+------------+-------------+------------------+--------------+---------------------+--------------------+
|Season|          Team|TotalAwayLost|TotalAwayWin|TotalAwayDraw|TotalAwayLostPoint|TotalAwayPoint|TotalAwayAgainstGoals|TotalAwayScoredGoals|
+------+--------------+-------------+------------+-------------+------------------+--------------+---------------------+--------------------+
|  1993|    Leverkusen|            7|           4|            6|                27|            18|                 27.0|                24.0|
|  1993|     Karlsruhe|            9|           3|            5|                32|            14|                 30.0|                17.0|
|  1993|       Dresden|            7|           3|            7|                28|            16|                 28.0|                13.0|
|  1993| Ein Frankfurt|            7|           7|            3|                24|            24|                 19.0|                28.0|
|  1993|    Schalke 04|            9|           3|            5|                32|            14|                 30.0|                15.0|
|  1993|Kaiserslautern|            8|           6|            3|                27|            21|                 26.0|                26.0|
|  1993|      Freiburg|            9|           4|            4|                31|            16|                 30.0|                25.0|
|  1993| Werder Bremen|            6|           3|            8|                26|            17|                 23.0|                20.0|
|  1993|  Wattenscheid|           11|           0|            6|                39|             6|                 43.0|                17.0|
|  1993|    M'Gladbach|           10|           5|            2|                32|            17|                 34.0|                27.0|
|  1993|       Hamburg|            8|           6|            3|                27|            21|                 28.0|                17.0|
|  1993| Bayern Munich|            6|           4|            7|                25|            19|                 27.0|                24.0|
|  1993|       FC Koln|            8|           5|            4|                28|            19|                 29.0|                24.0|
|  1993|      Dortmund|            8|           2|            7|                31|            13|                 30.0|                14.0|
|  1993|    RB Leipzig|           14|           1|            2|                44|             5|                 41.0|                12.0|
|  1993|     Stuttgart|            7|           5|            5|                26|            20|                 27.0|                20.0|
|  1993|      Duisburg|            8|           7|            2|                26|            23|                 29.0|                20.0|
|  1993|      Nurnberg|           10|           3|            4|                34|            13|                 35.0|                16.0|
|  1994|Kaiserslautern|            5|           7|            5|                20|            26|                 25.0|                26.0|
|  1994|    M'gladbach|            6|           7|            4|                22|            25|                 25.0|                29.0|
+------+--------------+-------------+------------+-------------+------------------+--------------+---------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window
windowSpec  = Window.partitionBy('Season').orderBy( col('Point').desc(), col('GoalDifference').desc() )

"""rank"""
from pyspark.sql.functions import rank
# df.withColumn("rank",rank().over(windowSpec)).show()

In [ ]:
table = home.join(away, ['Season', 'Team'], 'inner' ).\
                  withColumn('Win', col('TotalHomeWin') + col('TotalAwayWin') ).\
                  withColumn('Lost', col('TotalHomeLost') + col('TotalAwayLost') ).\
                  withColumn('Draw', col('TotalHomeDraw') + col('TotalAwayDraw') ).\
                  withColumn('GoalScored', col('TotalHomeScoredGoals') + col('TotalAwayScoredGoals')).\
                  withColumn('GoalAgainst', col('TotalHomeAgainstGoals') + col('TotalAwayAgainstGoals')).\
                  withColumn('GoalDifference', col('GoalScored') - col('GoalAgainst')).\
                  withColumn('WinRate', round(100.*col('Win')/(col('Win') + col('Lost') + col('Draw')), 2) ).\
                  withColumn('Point', col('TotalHomePoint') +col('TotalAwayPoint') ).\
                  withColumn('Position', rank().over(windowSpec) ).\
                  select('Season', 'Team', 'Win', 'Lost', 'Draw', 'WinRate', 'GoalScored', 'GoalAgainst', 'GoalDifference', 'Point', 'Position')
table.show()

+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|          Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|  1993| Bayern Munich| 17|   7|  10|   50.0|      68.0|       37.0|          31.0|   61|       1|
|  1993|Kaiserslautern| 18|   9|   7|  52.94|      64.0|       36.0|          28.0|   61|       2|
|  1993|      Dortmund| 15|  10|   9|  44.12|      49.0|       45.0|           4.0|   54|       3|
|  1993| Ein Frankfurt| 15|  11|   8|  44.12|      57.0|       41.0|          16.0|   53|       4|
|  1993|    Leverkusen| 14|   9|  11|  41.18|      60.0|       47.0|          13.0|   53|       5|
|  1993|     Karlsruhe| 14|  10|  10|  41.18|      46.0|       43.0|           3.0|   52|       6|
|  1993|     Stuttgart| 13|  10|  11|  38.24|      51.0|       43.0|           8.0|   50|       7|
|  1993|      Duisburg| 14|  12|   8|  41.18|      41.0|       52.0|         -11.0|   50|       8|
|  1993| Werder Bremen| 13|  11|  10|  38.24|      51.0|       44.0|           7.0|   49|       9|
|  1993|    M'Gladbach| 14|  13|   7|  41.18|      65.0|       59.0|           6.0|   49|      10|
|  1993|       FC Koln| 14|  14|   6|  41.18|      49.0|       51.0|          -2.0|   48|      11|
|  1993|       Hamburg| 13|  13|   8|  38.24|      48.0|       52.0|          -4.0|   47|      12|
|  1993|       Dresden| 10|  10|  14|  29.41|      33.0|       44.0|         -11.0|   44|      13|
|  1993|    Schalke 04| 10|  15|   9|  29.41|      38.0|       50.0|         -12.0|   39|      14|
|  1993|      Freiburg| 10|  16|   8|  29.41|      54.0|       57.0|          -3.0|   38|      15|
|  1993|      Nurnberg| 10|  16|   8|  29.41|      41.0|       55.0|         -14.0|   38|      16|
|  1993|  Wattenscheid|  6|  17|  11|  17.65|      48.0|       70.0|         -22.0|   29|      17|
|  1993|    RB Leipzig|  3|  20|  11|   8.82|      32.0|       69.0|         -37.0|   20|      18|
|  1994|      Dortmund| 20|   5|   9|  58.82|      67.0|       33.0|          34.0|   69|       1|
|  1994| Werder Bremen| 20|   6|   8|  58.82|      70.0|       39.0|          31.0|   68|       2|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
only showing top 20 rows

In [ ]:
# Check a season
table.where( table['Season'] == 2002 )

+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|          Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|  2002| Bayern Munich| 23|   5|   6|  67.65|      70.0|       25.0|          45.0|   75|       1|
|  2002|     Stuttgart| 17|   9|   8|   50.0|      53.0|       39.0|          14.0|   59|       2|
|  2002|      Dortmund| 15|   6|  13|  44.12|      51.0|       27.0|          24.0|   58|       3|
|  2002|       Hamburg| 15|   8|  11|  44.12|      46.0|       36.0|          10.0|   56|       4|
|  2002|        Hertha| 16|  12|   6|  47.06|      52.0|       43.0|           9.0|   54|       5|
|  2002| Werder Bremen| 16|  14|   4|  47.06|      51.0|       50.0|           1.0|   52|       6|
|  2002|    Schalke 04| 12|   9|  13|  35.29|      46.0|       40.0|           6.0|   49|       7|
|  2002|     Wolfsburg| 13|  14|   7|  38.24|      39.0|       42.0|          -3.0|   46|       8|
|  2002|        Bochum| 12|  13|   9|  35.29|      55.0|       56.0|          -1.0|   45|       9|
|  2002|   Munich 1860| 12|  13|   9|  35.29|      44.0|       52.0|          -8.0|   45|      10|
|  2002|      Hannover| 12|  15|   7|  35.29|      47.0|       57.0|         -10.0|   43|      11|
|  2002|    M'gladbach| 11|  14|   9|  32.35|      43.0|       45.0|          -2.0|   42|      12|
|  2002| Hansa Rostock| 11|  15|   8|  32.35|      35.0|       41.0|          -6.0|   41|      13|
|  2002|Kaiserslautern| 10|  14|  10|  29.41|      40.0|       42.0|          -2.0|   40|      14|
|  2002|    Leverkusen| 11|  16|   7|  32.35|      47.0|       56.0|          -9.0|   40|      15|
|  2002|     Bielefeld|  8|  14|  12|  23.53|      35.0|       46.0|         -11.0|   36|      16|
|  2002|      Nurnberg|  8|  20|   6|  23.53|      33.0|       60.0|         -27.0|   30|      17|
|  2002|       Cottbus|  7|  18|   9|  20.59|      34.0|       64.0|         -30.0|   30|      18|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+

In [ ]:
# Find the winners / Champions
table_df = table.where( table['Position'] == 1 )
print('Number of records: ', table_df.count())
table_df.show(table_df.count(), truncate=False)

Number of records:  24
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|Team          |Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|1993  |Bayern Munich |17 |7   |10  |50.0   |68.0      |37.0       |31.0          |61   |1       |
|1994  |Dortmund      |20 |5   |9   |58.82  |67.0      |33.0       |34.0          |69   |1       |
|1995  |Dortmund      |19 |4   |11  |55.88  |76.0      |38.0       |38.0          |68   |1       |
|1996  |Bayern Munich |20 |3   |11  |58.82  |68.0      |34.0       |34.0          |71   |1       |
|1997  |Kaiserslautern|19 |4   |11  |55.88  |63.0      |39.0       |24.0          |68   |1       |
|1998  |Bayern Munich |24 |4   |6   |70.59  |76.0      |28.0       |48.0          |78   |1       |
|1999  |Bayern Munich |22 |5   |7   |64.71  |73.0      |28.0       |45.0          |73   |1       |
|2000  |Bayern Munich |19 |9   |6   |55.88  |62.0      |37.0       |25.0          |63   |1       |
|2001  |Dortmund      |21 |6   |7   |61.76  |62.0      |33.0       |29.0          |70   |1       |
|2002  |Bayern Munich |23 |5   |6   |67.65  |70.0      |25.0       |45.0          |75   |1       |
|2003  |Werder Bremen |22 |4   |8   |64.71  |79.0      |38.0       |41.0          |74   |1       |
|2004  |Bayern Munich |24 |5   |5   |70.59  |75.0      |33.0       |42.0          |77   |1       |
|2005  |Bayern Munich |22 |3   |9   |64.71  |67.0      |32.0       |35.0          |75   |1       |
|2006  |Stuttgart     |21 |6   |7   |61.76  |61.0      |37.0       |24.0          |70   |1       |
|2007  |Bayern Munich |22 |2   |10  |64.71  |68.0      |21.0       |47.0          |76   |1       |
|2008  |Wolfsburg     |21 |7   |6   |61.76  |80.0      |41.0       |39.0          |69   |1       |
|2009  |Bayern Munich |20 |4   |10  |58.82  |72.0      |31.0       |41.0          |70   |1       |
|2010  |Dortmund      |23 |5   |6   |67.65  |67.0      |22.0       |45.0          |75   |1       |
|2011  |Dortmund      |25 |3   |6   |73.53  |80.0      |25.0       |55.0          |81   |1       |
|2012  |Bayern Munich |29 |1   |4   |85.29  |98.0      |18.0       |80.0          |91   |1       |
|2013  |Bayern Munich |29 |2   |3   |85.29  |94.0      |23.0       |71.0          |90   |1       |
|2014  |Bayern Munich |25 |5   |4   |73.53  |80.0      |18.0       |62.0          |79   |1       |
|2015  |Bayern Munich |28 |2   |4   |82.35  |80.0      |17.0       |63.0          |88   |1       |
|2016  |Bayern Munich |25 |2   |7   |73.53  |89.0      |22.0       |67.0          |82   |1       |
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+

In [ ]:
# Check a season
table.where( table['Season'] == 2017 )

+------+----+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+----+---+----+----+-------+----------+-----------+--------------+-----+--------+
+------+----+---+----+----+-------+----------+-----------+--------------+-----+--------+

# Q2. Which teams have been relegated in the past 10 years?

In [ ]:
table.show()

+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|          Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|  1993| Bayern Munich| 17|   7|  10|   50.0|      68.0|       37.0|          31.0|   61|       1|
|  1993|Kaiserslautern| 18|   9|   7|  52.94|      64.0|       36.0|          28.0|   61|       2|
|  1993|      Dortmund| 15|  10|   9|  44.12|      49.0|       45.0|           4.0|   54|       3|
|  1993| Ein Frankfurt| 15|  11|   8|  44.12|      57.0|       41.0|          16.0|   53|       4|
|  1993|    Leverkusen| 14|   9|  11|  41.18|      60.0|       47.0|          13.0|   53|       5|
|  1993|     Karlsruhe| 14|  10|  10|  41.18|      46.0|       43.0|           3.0|   52|       6|
|  1993|     Stuttgart| 13|  10|  11|  38.24|      51.0|       43.0|           8.0|   50|       7|
|  1993|      Duisburg| 14|  12|   8|  41.18|      41.0|       52.0|         -11.0|   50|       8|
|  1993| Werder Bremen| 13|  11|  10|  38.24|      51.0|       44.0|           7.0|   49|       9|
|  1993|    M'Gladbach| 14|  13|   7|  41.18|      65.0|       59.0|           6.0|   49|      10|
|  1993|       FC Koln| 14|  14|   6|  41.18|      49.0|       51.0|          -2.0|   48|      11|
|  1993|       Hamburg| 13|  13|   8|  38.24|      48.0|       52.0|          -4.0|   47|      12|
|  1993|       Dresden| 10|  10|  14|  29.41|      33.0|       44.0|         -11.0|   44|      13|
|  1993|    Schalke 04| 10|  15|   9|  29.41|      38.0|       50.0|         -12.0|   39|      14|
|  1993|      Freiburg| 10|  16|   8|  29.41|      54.0|       57.0|          -3.0|   38|      15|
|  1993|      Nurnberg| 10|  16|   8|  29.41|      41.0|       55.0|         -14.0|   38|      16|
|  1993|  Wattenscheid|  6|  17|  11|  17.65|      48.0|       70.0|         -22.0|   29|      17|
|  1993|    RB Leipzig|  3|  20|  11|   8.82|      32.0|       69.0|         -37.0|   20|      18|
|  1994|      Dortmund| 20|   5|   9|  58.82|      67.0|       33.0|          34.0|   69|       1|
|  1994| Werder Bremen| 20|   6|   8|  58.82|      70.0|       39.0|          31.0|   68|       2|
+------+--------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
only showing top 20 rows

In [ ]:
# Check a season
table.where( table['Season'] == 2016 )

+------+-------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|         Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+-------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|  2016|Bayern Munich| 25|   2|   7|  73.53|      89.0|       22.0|          67.0|   82|       1|
|  2016|   RB Leipzig| 20|   7|   7|  58.82|      66.0|       39.0|          27.0|   67|       2|
|  2016|     Dortmund| 18|   6|  10|  52.94|      72.0|       40.0|          32.0|   64|       3|
|  2016|   Hoffenheim| 16|   4|  14|  47.06|      64.0|       37.0|          27.0|   62|       4|
|  2016|      FC Koln| 12|   9|  13|  35.29|      51.0|       42.0|           9.0|   49|       5|
|  2016|       Hertha| 15|  15|   4|  44.12|      43.0|       47.0|          -4.0|   49|       6|
|  2016|     Freiburg| 14|  14|   6|  41.18|      42.0|       60.0|         -18.0|   48|       7|
|  2016|Werder Bremen| 13|  15|   6|  38.24|      61.0|       64.0|          -3.0|   45|       8|
|  2016|   M'gladbach| 12|  13|   9|  35.29|      45.0|       49.0|          -4.0|   45|       9|
|  2016|   Schalke 04| 11|  13|  10|  32.35|      45.0|       40.0|           5.0|   43|      10|
|  2016|Ein Frankfurt| 11|  14|   9|  32.35|      36.0|       43.0|          -7.0|   42|      11|
|  2016|   Leverkusen| 11|  15|   8|  32.35|      53.0|       55.0|          -2.0|   41|      12|
|  2016|     Augsburg|  9|  14|  11|  26.47|      35.0|       51.0|         -16.0|   38|      13|
|  2016|      Hamburg| 10|  16|   8|  29.41|      33.0|       61.0|         -28.0|   38|      14|
|  2016|        Mainz| 10|  17|   7|  29.41|      44.0|       55.0|         -11.0|   37|      15|
|  2016|    Wolfsburg| 10|  17|   7|  29.41|      34.0|       52.0|         -18.0|   37|      16|
|  2016|   Ingolstadt|  8|  18|   8|  23.53|      36.0|       57.0|         -21.0|   32|      17|
|  2016|    Darmstadt|  7|  23|   4|  20.59|      28.0|       63.0|         -35.0|   25|      18|
+------+-------------+---+----+----+-------+----------+-----------+--------------+-----+--------+

In [ ]:
table.where( table['Season'] == 2016 ).orderBy( col('Position').desc() ).limit(3)

+------+----------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|      Team|Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+----------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|  2016| Darmstadt|  7|  23|   4|  20.59|      28.0|       63.0|         -35.0|   25|      18|
|  2016|Ingolstadt|  8|  18|   8|  23.53|      36.0|       57.0|         -21.0|   32|      17|
|  2016| Wolfsburg| 10|  17|   7|  29.41|      34.0|       52.0|         -18.0|   37|      16|
+------+----------+---+----+----+-------+----------+-----------+--------------+-----+--------+

In [ ]:
# The teams that have been relegated in the past 10 years
w = Window.partitionBy('Season').orderBy(col('Position').desc())
table.withColumn('row', row_number().over(w)).\
   filter( (col('row') == 1) | (col('row') == 2) | (col('row') == 3) ).drop('row').\
   show(1000, truncate=False)

+------+------------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|Season|Team              |Win|Lost|Draw|WinRate|GoalScored|GoalAgainst|GoalDifference|Point|Position|
+------+------------------+---+----+----+-------+----------+-----------+--------------+-----+--------+
|1993  |RB Leipzig        |3  |20  |11  |8.82   |32.0      |69.0       |-37.0         |20   |18      |
|1993  |Wattenscheid      |6  |17  |11  |17.65  |48.0      |70.0       |-22.0         |29   |17      |
|1993  |Nurnberg          |10 |16  |8   |29.41  |41.0      |55.0       |-14.0         |38   |16      |
|1994  |Dresden           |4  |22  |8   |11.76  |33.0      |68.0       |-35.0         |20   |18      |
|1994  |Duisburg          |6  |20  |8   |17.65  |31.0      |64.0       |-33.0         |26   |17      |
|1994  |Bochum            |9  |21  |4   |26.47  |43.0      |67.0       |-24.0         |31   |16      |
|1995  |Uerdingen         |5  |18  |11  |14.71  |33.0      |56.0       |-23.0         |26   |17      |
|1995  |Ein Frankfurt     |7  |16  |11  |20.59  |43.0      |68.0       |-25.0         |32   |16      |
|1995  |Kaiserslautern    |6  |10  |18  |17.65  |31.0      |37.0       |-6.0          |36   |15      |
|1996  |St Pauli          |7  |21  |6   |20.59  |32.0      |69.0       |-37.0         |27   |17      |
|1996  |Freiburg          |8  |21  |5   |23.53  |43.0      |67.0       |-24.0         |29   |16      |
|1996  |Hansa Rostock     |11 |16  |7   |32.35  |35.0      |46.0       |-11.0         |40   |15      |
|1997  |Bielefeld         |8  |18  |8   |23.53  |43.0      |56.0       |-13.0         |32   |18      |
|1997  |FC Koln           |10 |18  |6   |29.41  |49.0      |64.0       |-15.0         |36   |17      |
|1997  |Karlsruhe         |9  |14  |11  |26.47  |48.0      |60.0       |-12.0         |38   |16      |
|1998  |M'gladbach        |4  |21  |9   |11.76  |41.0      |79.0       |-38.0         |21   |18      |
|1998  |Bochum            |7  |19  |8   |20.59  |40.0      |65.0       |-25.0         |29   |17      |
|1998  |Nurnberg          |7  |11  |16  |20.59  |40.0      |50.0       |-10.0         |37   |15      |
|1999  |Duisburg          |4  |20  |10  |11.76  |37.0      |71.0       |-34.0         |22   |18      |
|1999  |Bielefeld         |7  |18  |9   |20.59  |40.0      |61.0       |-21.0         |30   |17      |
|1999  |Ulm               |9  |17  |8   |26.47  |36.0      |62.0       |-26.0         |35   |16      |
|2000  |Bochum            |7  |21  |6   |20.59  |30.0      |67.0       |-37.0         |27   |18      |
|2000  |Ein Frankfurt     |10 |19  |5   |29.41  |41.0      |68.0       |-27.0         |35   |17      |
|2000  |Unterhaching      |8  |15  |11  |23.53  |35.0      |59.0       |-24.0         |35   |16      |
|2001  |St Pauli          |4  |20  |10  |11.76  |37.0      |70.0       |-33.0         |22   |18      |
|2001  |FC Koln           |7  |19  |8   |20.59  |26.0      |61.0       |-35.0         |29   |17      |
|2001  |Freiburg          |7  |18  |9   |20.59  |37.0      |64.0       |-27.0         |30   |16      |
|2002  |Cottbus           |7  |18  |9   |20.59  |34.0      |64.0       |-30.0         |30   |18      |
|2002  |Nurnberg          |8  |20  |6   |23.53  |33.0      |60.0       |-27.0         |30   |17      |
|2002  |Bielefeld         |8  |14  |12  |23.53  |35.0      |46.0       |-11.0         |36   |16      |
|2003  |FC Koln           |6  |23  |5   |17.65  |32.0      |57.0       |-25.0         |23   |18      |
|2003  |Munich 1860       |8  |18  |8   |23.53  |32.0      |55.0       |-23.0         |32   |17      |
|2003  |Ein Frankfurt     |9  |20  |5   |26.47  |36.0      |53.0       |-17.0         |32   |16      |
|2004  |Freiburg          |3  |22  |9   |8.82   |30.0      |75.0       |-45.0         |18   |18      |
|2004  |Hansa Rostock     |7  |18  |9   |20.59  |31.0      |65.0       |-34.0         |30   |17      |
|2004  |Bochum            |9  |17  |8   |26.47  |47.0      |68.0       |-21.0         |35   |16      |
|2005  |Duisburg          |5  |17  |12  |14.71  |34.0      |63.0       |-29.0         |27   |18      |
|2005  |FC Koln           |7  |18  |9   |20.59  |49.0      |71.0       |-22.0         |30   |17      |
|2005  |Kaiserslautern    |8  |17  |9   |23.53  |47.0      |71.0       |-24.0         |33   |16      |
|2006  |M'gladbach        |6  |20  |8   |17.65  |23.0      |44.0       |-21.0         |26   |18      |
|2006  |Aachen            |9  |18  |7   |26.47  |46.0      |70.0       |-24.0         |34   |17      |
|2006  |Mainz             |8  |16  |10  |23.53  |34.0      |57.0       |-23.0         |34   |16      |
|2007  |Duisburg          |8  |21  |5   |23.53  |36.0      |55.0       |-19.0         |29   |18      |
|2007  |Hansa Rostock     |8  |20  |6   |23.53  |30.0      |52.0       |-22.0         |30   |17      |
|2007  |Nurnberg          |7  |17  |10  |20.59  |35.0      |51.0       |-16.0         |31   |16      |
|2008  |Bielefeld         |4  |14  |16  |11.76  |29.0      |56.0       |-27.0         |28   |18      |
|2008  |Karlsruhe         |8  |21  |5   |23.53  |30.0      |54.0       |-24.0         |29   |17      |
|2008  |Cottbus           |8  |20  |6   |23.53  |30.0      |57.0       |-27.0         |30   |16      |
|2009  |Hertha            |5  |20  |9   |14.71  |34.0      |56.0       |-22.0         |24   |18      |
|2009  |Bochum            |6  |18  |10  |17.65  |33.0      |64.0       |-31.0         |28   |17      |
|2009  |Nurnberg          |8  |19  |7   |23.53  |32.0      |58.0       |-26.0         |31   |16      |
|2010  |St Pauli          |8  |21  |5   |23.53  |35.0      |68.0       |-33.0         |29   |18      |
|2010  |Ein Frankfurt     |9  |18  |7   |26.47  |31.0      |49.0       |-18.0         |34   |17      |
|2010  |M'gladbach        |10 |18  |6   |29.41  |48.0      |65.0       |-17.0         |36   |16      |
|2011  |Kaiserslautern    |4  |19  |11  |11.76  |24.0      |54.0       |-30.0         |23   |18      |
|2011  |FC Koln           |8  |20  |6   |23.53  |39.0      |75.0       |-36.0         |30   |17      |
|2011  |Hertha            |7  |17  |10  |20.59  |38.0      |64.0       |-26.0         |31   |16      |
|2012  |Greuther Furth    |4  |21  |9   |11.76  |26.0      |60.0       |-34.0         |21   |18      |
|2012  |Fortuna Dusseldorf|7  |18  |9   |20.59  |39.0      |57.0       |-18.0         |30   |17      |
|2012  |Hoffenheim        |8  |19  |7   |23.53  |42.0      |67.0       |-25.0         |31   |16      |
|2013  |Braunschweig      |6  |21  |7   |17.65  |29.0      |60.0       |-31.0         |25   |18      |
|2013  |Nurnberg          |5  |18  |11  |14.71  |37.0      |70.0       |-33.0         |26   |17      |
|2013  |Hamburg           |7  |21  |6   |20.59  |51.0      |75.0       |-24.0         |27   |16      |
|2014  |Paderborn         |7  |17  |10  |20.59  |31.0      |65.0       |-34.0         |31   |18      |
|2014  |Freiburg          |7  |14  |13  |20.59  |36.0      |47.0       |-11.0         |34   |17      |
|2014  |Hamburg           |9  |17  |8   |26.47  |25.0      |50.0       |-25.0         |35   |16      |
|2015  |Hannover          |7  |23  |4   |20.59  |31.0      |62.0       |-31.0         |25   |18      |
|2015  |Stuttgart         |9  |19  |6   |26.47  |50.0      |75.0       |-25.0         |33   |17      |
|2015  |Ein Frankfurt     |9  |16  |9   |26.47  |34.0      |52.0       |-18.0         |36   |16      |
|2016  |Darmstadt         |7  |23  |4   |20.59  |28.0      |63.0       |-35.0         |25   |18      |
|2016  |Ingolstadt        |8  |18  |8   |23.53  |36.0      |57.0       |-21.0         |32   |17      |
|2016  |Wolfsburg         |10 |17  |7   |29.41  |34.0      |52.0       |-18.0         |37   |16      |
+------+------------------+---+----+----+-------+----------+-----------+--------------+-----+--------+

# Dominating teams

In [ ]:
table_df.where( (col('Season') >= 2000) & (col('Season') <= 2010) ).groupBy('Team').agg( count('Team').alias('TotalChampionships'),\
                              round(avg('WinRate'), 2).alias('AvgWinRate'),\
                              round(avg('GoalScored'), 2).alias('GoalsScored'),\
                              round(avg('GoalAgainst'), 2).alias('GoalsAgainst'),\
                             round(avg('Win')).alias('AvgWin'),\
                             round(avg('Lost')).alias('AvgLost'),\
                             round(avg('Draw')).alias('AvgDraw') ).orderBy( desc('TotalChampionships') ).show()

+-------------+------------------+----------+-----------+------------+------+-------+-------+
|         Team|TotalChampionships|AvgWinRate|GoalsScored|GoalsAgainst|AvgWin|AvgLost|AvgDraw|
+-------------+------------------+----------+-----------+------------+------+-------+-------+
|Bayern Munich|                 6|     63.73|       69.0|       29.83|  22.0|    5.0|    8.0|
|     Dortmund|                 2|     64.71|       64.5|        27.5|  22.0|    6.0|    7.0|
|    Wolfsburg|                 1|     61.76|       80.0|        41.0|  21.0|    7.0|    6.0|
|Werder Bremen|                 1|     64.71|       79.0|        38.0|  22.0|    4.0|    8.0|
|    Stuttgart|                 1|     61.76|       61.0|        37.0|  21.0|    6.0|    7.0|
+-------------+------------------+----------+-----------+------------+------+-------+-------+

Bayern Munich has been the destroying team