<a href="https://colab.research.google.com/github/nv-hiep/pyspark/blob/main/pyspark_course_GL_data_exploration_user_profile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
if not os.path.exists('/content/spark-3.1.1-bin-hadoop3.2.tgz'):
  !wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
  
  # unzip the spark file to the current folder
  !tar xf spark-3.1.1-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [2]:
# For python users, you should also install pyspark using the following command.
# !pip install pyspark

Run a local spark session to test your installation:

In [3]:
import findspark
findspark.init()

from pyspark import SparkContext
from pyspark.sql import SparkSession, Window, Row

from pyspark.sql.functions import *
from pyspark.sql.types import *
import matplotlib.pyplot as plt

#https://spark.apache.org/docs/latest/sql-getting-started.html
# spark = SparkSession.builder.master("local[*]").getOrCreate()
spark = SparkSession.builder.appName('PySpark').getOrCreate()
# spark = SparkSession.builder.appName('PySpark').enableHiveSupport().getOrCreate()

spark.conf.set('spark.sql.repl.eagerEval.enabled', True) # Property used to format output tables better


# spark = SparkSession.builder.appName('PySpark').master("local[1]").config("spark.sql.catalogImplementation","hive").enableHiveSupport().getOrCreate()
# spark.conf.set("spark.sql.catalogImplementation","hive")
# spark.conf.set('spark.sql.sources.default', 'delta')
# spark.conf.set('spark.sql.legacy.createHiveTableByDefault', False)
# spark.conf.set('spspark.sql.hive.convertCTAS', True)

spark

In [4]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix

# display results to 3 decimal points, not in scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
# from pyspark.sql.functions import udf
# from pyspark.sql.types import IntegerType
import urllib.request

In [6]:
# ! rm -rf spark-3.1.1-bin-hadoop3.2.tgz

In [7]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [8]:
from pyspark.ml.classification import LogisticRegression

# Connect to Kaggle

Ref: https://galhever.medium.com/how-to-import-data-from-kaggle-to-google-colab-8160caa11e2

Install the Kaggle package that will be used for importing the data.

In [9]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Next, we need to upload the credentials of our Kaggle account. To do so, you need to enter your profile and “Create New API Token”. If you already have one you can click on “Expire API Token” and create a new one.

Then, save the json file with your credentials on your computer and upload this file to Colab using the code below:

In [10]:
from google.colab import files

if not os.path.exists('/content/kaggle.json'):
  files.upload()

Saving kaggle.json to kaggle.json

The Kaggle API client expects the json file to be in ~/.kaggle folder so let’s create a new folder and move it inside.

In [11]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Next, we will click on the three vertical points on the right side of the screen and “Copy the API Command” of the dataset that we want to import from Kaggle.

In [12]:
# !kaggle datasets download -d jessicali9530/celeba-dataset
# !kaggle datasets download -d hesh97/titanicdataset-traincsv
! kaggle datasets download -d neferfufi/lastfm

Downloading lastfm.zip to /content
 99% 1.15G/1.16G [00:30<00:00, 38.0MB/s]
100% 1.16G/1.16G [00:30<00:00, 40.3MB/s]

In [13]:
!pwd

/content

Let’s see the imported files:

In [14]:
!ls

kaggle.json  sample_data		spark-3.1.1-bin-hadoop3.2.tgz
lastfm.zip   spark-3.1.1-bin-hadoop3.2

Now, the last step is to open the extracted files and get the data:

In [15]:
import zipfile
zip_ref = zipfile.ZipFile('lastfm.zip', 'r')
zip_ref.extractall('data')
zip_ref.close()

In [16]:
!ls

data	     lastfm.zip   spark-3.1.1-bin-hadoop3.2
kaggle.json  sample_data  spark-3.1.1-bin-hadoop3.2.tgz

In [17]:
# ! rm -rf titanicdataset-traincsv.zip

In [18]:
# !ls

In [19]:
% cd data

/content/data

In [20]:
!ls

userid-profile.csv				  usersha1-profile.csv
userid-timestamp-artid-artname-traid-traname.tsv  usersha1-profile.tsv
usersha1-artmbid-artname-plays.tsv

That’s it! Now your data is ready and you can start working on it.

# Read userid_profile data

In [21]:
DATA_PATH = '/content/'
DATA_DIR  = os.path.join(DATA_PATH, 'data')

In [22]:
if not os.path.exists(DATA_DIR):
  os.mkdir(DATA_DIR)

In [23]:
# url = 'https://storage.googleapis.com/kaggle-data-sets/50119/92017/compressed/userid-timestamp-artid-artname-traid-traname.tsv.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210724%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210724T145658Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=95a835e0400112e6132be28d12009dec126eab889e0c98f15c46ed9ff843d435150e8006991a7cf518a97bb49bfd110d6c732fb6bbb42156221abd376a466cea004e79dfdb16aeef9d0049442e221a6ff07d9580aa2aa0e1281e0cea1f81c2584d9b654da5d2eb59fa04eb78dd94b0d7f1c93c851efdeec15765a54269b45a99cd09546bcb18b6f9e7d0924e273637ff7d729a715b0b1f774862ced30b9f16ddefdb326af90f4b997f1bc600a3c4442080885a546e26252a8bea6d1f057be19476a60bf1651499ca524fcd3a5bc8180b7fe828fa91680d7907a45a2c9cef38c00d4a602a6524986a1978546bd2ea30af22eaa562aa818e5868ae552599d8888c'
# datfile = os.path.join( DATA_DIR, os.path.split(url)[-1])

# if not os.path.exists(datfile):
#   filename, headers = urllib.request.urlretrieve(url, datfile)

In [24]:
! ls

userid-profile.csv				  usersha1-profile.csv
userid-timestamp-artid-artname-traid-traname.tsv  usersha1-profile.tsv
usersha1-artmbid-artname-plays.tsv

In [29]:
data_file = os.path.join( DATA_DIR, 'usersha1-profile.tsv' )
user_profile = pd.read_csv( data_file, sep='\t', header=None )
user_profile.head()

                                          0    1  ...              3             4
0  00000c289a1829a808ac09c00daf10bc3c4e223b    f  ...        Germany   Feb 1, 2007
1  00001411dc427966b17297bf4d69e7e193135d89    f  ...         Canada   Dec 4, 2007
2  00004d2ac9316e22dc007ab2243d6fcb239e707d  NaN  ...        Germany   Sep 1, 2006
3  000063d3fe1cf2ba248b9e3c3f0334845a27a6bf    m  ...         Mexico  Apr 28, 2008
4  00007a47085b9aab8af55f52ec8846ac479ac4fe    m  ...  United States  Jan 27, 2006

[5 rows x 5 columns]

In [30]:
user_profile.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [31]:
user_profile.columns = ['user_id', 'gender', 'age', 'country', 'registered']

In [32]:
user_profile.head(2)

                                    user_id gender    age  country   registered
0  00000c289a1829a808ac09c00daf10bc3c4e223b      f 22.000  Germany  Feb 1, 2007
1  00001411dc427966b17297bf4d69e7e193135d89      f    nan   Canada  Dec 4, 2007

In [33]:
user_profile.describe()

             age
count 284447.000
mean      25.098
std       21.666
min    -1337.000
25%       20.000
50%       23.000
75%       28.000
max     1002.000

In [34]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359347 entries, 0 to 359346
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_id     359347 non-null  object
 1   gender      326572 non-null  object
 2   age         284447 non-null  float64
 3   country     359347 non-null  object
 4   registered  359347 non-null  object
dtypes: float64(1), object(4)
memory usage: 13.7+ MB

In [35]:
# Check null values
user_profile.isnull().sum(axis = 0)

user_id           0
gender        32775
age           74900
country           0
registered        0
dtype: int64

In [36]:
user_profile.gender.value_counts()

m    241642
f     84930
Name: gender, dtype: int64

In [37]:
user_profile.country.value_counts()

United States         67044
Germany               31651
United Kingdom        29902
Poland                20987
Russian Federation    19833
                      ...
Marshall Islands          4
Benin                     3
Palau                     3
Gambia                    3
Liberia                   3
Name: country, Length: 239, dtype: int64

In [38]:
user_profile.registered.value_counts()

Jan 24, 2008    569
Oct 28, 2008    502
Nov 2, 2008     490
Nov 9, 2008     471
Nov 3, 2008     468
               ...
Jun 22, 2003      1
Sep 16, 2003      1
Dec 8, 2002       1
Dec 28, 2003      1
Oct 8, 2009       1
Name: registered, Length: 2298, dtype: int64

# Read userid-profile

In [39]:
! ls

userid-profile.csv				  usersha1-profile.csv
userid-timestamp-artid-artname-traid-traname.tsv  usersha1-profile.tsv
usersha1-artmbid-artname-plays.tsv

In [44]:
data_file = os.path.join( DATA_DIR, 'userid-profile.csv' )
user_profile = pd.read_csv( data_file, sep=',', header='infer' )
user_profile.head()

           #id gender    age        country    registered
0  user_000001      m    nan          Japan  Aug 13, 2006
1  user_000002      f    nan           Peru  Feb 24, 2006
2  user_000003      m 22.000  United States  Oct 30, 2005
3  user_000004      f    nan            NaN  Apr 26, 2006
4  user_000005      m    nan       Bulgaria  Jun 29, 2006

In [45]:
user_profile.columns

Index(['#id', 'gender', 'age', 'country', 'registered'], dtype='object')

In [46]:
user_profile.describe()

          age
count 286.000
mean   25.367
std     8.315
min     3.000
25%    21.000
50%    23.000
75%    28.000
max   103.000

In [47]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #id         992 non-null    object
 1   gender      884 non-null    object
 2   age         286 non-null    float64
 3   country     907 non-null    object
 4   registered  984 non-null    object
dtypes: float64(1), object(4)
memory usage: 38.9+ KB

In [48]:
user_profile.gender.value_counts()

m    502
f    382
Name: gender, dtype: int64

In [49]:
user_profile.country.value_counts()

United States                            228
United Kingdom                           126
Poland                                    50
Germany                                   36
Norway                                    35
                                        ...
Algeria                                    1
Congo, the Democratic Republic of the      1
Singapore                                  1
United States Minor Outlying Islands       1
Cote D'Ivoire                              1
Name: country, Length: 66, dtype: int64

In [50]:
user_profile.registered.value_counts()

Dec 6, 2005     6
Jun 3, 2006     5
Mar 5, 2006     5
Dec 19, 2006    5
Dec 4, 2005     5
               ..
Feb 18, 2007    1
Apr 21, 2007    1
May 27, 2006    1
Oct 8, 2006     1
Jul 25, 2005    1
Name: registered, Length: 625, dtype: int64